@import "tailwindcss";

@theme {
    --color-primary: #F0E4D3;
    --color-secondary: #DCC5B2;
    --color-tertiary: #C0C9EE;
    --color-word: #7B4019;
}

@font-face {
    font-family: 'Open Sans';
    src: url('assets/font/Open_Sans/static/OpenSans-Regular.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans';
    src: url('assets/font/Open_Sans/static/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/font/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/font/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/font/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: var(--color-word);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.5rem;
}

h5{
    font-size: 1rem;
}


.loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}